@media only screen and (min-width: 1200px) {
  .content { width: 1127px; min-width: 90%; }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .content { width: 933px; min-width: 90%; }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .content { width: 723px; min-width: 90%; }
}

@media only screen and (max-width: 767px) {
  .content { width: 90%; }
}

h2 {
  color: #666;
}

button.ui.primary.button,
button.ui.primary.button:focus {
  background-color: rgb(10, 190, 175);
}

button.ui.primary.button:hover,
button.ui.primary.button:visited,
button.ui.primary.button:active {
  background-color: teal;
}

button.ui.primary.button .ui.icon.plus {
  color: white;
  margin-left: .5rem;
  margin-right: -.5rem;
}

.content.main {
  z-index: 0;
  position: relative;
  padding: 1rem 0;
  max-width: 100%!important;
  display: flex;
  margin-left: auto!important;
  margin-right: auto!important;
  min-height: calc(95vh - 85px);
  flex-direction: column;
  background-color: transparent;
  color: #555;
}