@media only screen and (min-width: 1200px) {
  .content { width: 1127px; min-width: 90%; }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .content { width: 933px; min-width: 90%; }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .content { width: 723px; min-width: 90%; }
}

@media only screen and (max-width: 767px) {
  .content { width: auto!important; }
}

.content.main {
  z-index: 0;
  position: relative;
  padding: 1rem 0;
  max-width: 100%!important;
  display: flex;
  margin-left: auto!important;
  margin-right: auto!important;
  min-height: calc(95vh - 112px);
  flex-direction: column;
  background-color: transparent;
  color: #555;
}